@media screen and (max-width: 649px){

    nav{
        bottom: 0%;
        flex-direction: column-reverse;
        height: 6vh;
        display: inline;

    }



    #Title{
        position: fixed;
        top: 0%;
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        align-items: center;
        color: white;
        background-color: #3e4c65;
        padding: 2vh 7vw;
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background-color: #3e4c65;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        clip-path: circle(100px at 100% -10%);
        -webkit-clip-path: circle(100px at 100% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 1;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-left: auto;
        list-style: none;
        margin-top: 5%;
       
    
        
    }

    .nav-links li a{
        text-decoration: none;
        font-size: 7.5vw;
        color: #f2958c;
        font-weight: 700;
  
  
      

  
    
    }
    .nav-links.open{
        clip-path: circle(1200px at 100% 10%);
        -webkit-clip-path: circle(800px at 100% 10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
        margin:0
      }

      .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      li.fade {
        opacity: 1;
      }
      
    .line{
        width: 12vw;
        height: 0.7vh;
        margin: 5px 0 5px 0;
        border-radius: 10%;
        background-color: white;
    }
    .Menu{
        position: fixed;
        cursor: pointer;
        right: 50%;
        bottom:3%;
        transform: translate(50%, 50%);
        z-index: 2;

    }
    




    .Slides img {
      vertical-align: middle;
      width: 70%;
      margin-left: 15%;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.377), 0px 0px 50px rgba(0, 0, 0, 0.548);
      border-radius: 50%;
      
    }
    
    /* Position the image container (needed to position the left and right arrows) */
    .SlideshowContainer {
      position: relative;

    }
    
    /* Hide the images by default */
    .Slides {
      display: none;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    

    
    /* Container for image text */
    .caption-container {
      text-align: center;
      margin: 1vh;
      color: white;
    }
    
    .SmallSlideContainer:after {
      content: "";
      display: table;
      clear: both;
    }

    .SmallSlideContainer{
      justify-content: space-evenly;
      display: flex;
    }
    .SmallSlideImage {
      width: 15%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .Transparent {
      opacity: 0.6;
    }
    
    .active,
    .Transparent:hover {
      opacity: 1;
      transition: 0.2s;
    }



   

    .dropdown-list a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      list-style: none;
      color: white;
      margin-top: 1.3vh;
      font-size: 4.5vw;
        font-weight: 600;
    }
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1 {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
  }
  
  .Welcome h1{
    font-weight: 800;
    font-size: 2rem;
    padding-bottom: 1vh
  }
  
  .Welcome h2{
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1vh
  }

  .Welcome p{
    font-weight: 600;
    font-size: 1.3rem;
    color: #3e4c65;
    padding-bottom: 1vh
  }
  
  .Welcome span{
    color: #3e4c65
  }
  h2 {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
  }
  
  p{
    font-size: 1rem;
    margin-bottom: 1vh;
    font-family: "Poppins", sans-serif;
  
  }
  
  a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  #Title h1{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  
  span{
      color: #f2958c
  }
  footer {
    width: 100%;
    margin: auto;
    align-items: center;
    color: white;
    background-color: #3e4c65;
    padding: 1.5vh 7vw;
    min-height: 5vh;

  }
  
  section {
    padding: 6vh 7vw;
  }
  
  
  nav{
    background-color: #3e4c65;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  

  .Welcome{
    width: 100%;
    padding: 6vh 6vw;
    perspective:1000px;
    background-color: #f2958c;
    color: white;
    min-height: 100vh;
    padding-top: 8vh;
    
}

.TopSection{
  padding-top: 8vh;
}

.TopSection img{
  width: 80%;
  margin: 0 10%;
}

.HoverContainer{
  display: none;
  
}
/* Home Page Screen */
  .Faces{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    perspective:1000px;
    flex-wrap: wrap;
}

.Faces{
  display: none;


  
  
}


/* Home Page Screen */

.SocialMedia {
  display: flex;
  list-style: none;
  width: 80%;
  margin: 3% 0% 5% 10%;
  justify-content: space-around;
}

.SocialMedia .fa {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  margin-left: 5%;

  color: white;
  padding: 1vw;
  justify-content: center;
  border: 0.3vh solid #3e4c65;
  box-shadow: 0rem 0rem 0.5rem #3e4c65; 
  background-color: #3e4c65;
}

.fa:hover {
  background-color: #ffffff;
  color: #3e4c65;
  transition: 0.3s;
transform: scale(1.1);
}

.fa-twitter,
.fa-linkedin,
.fa-instagram {
  background: transparent;
  color: white;
  padding: 1vw;
  justify-content: center;
  border: 0.3vh solid #3e4c65;
}


.MoodsSocials{
    background-color: #3e4c65;
    color: white
}

.MoodsAbout{
  background-color: #f2958c;
  color: white
}
.MoodsAbout h1, .MoodsAbout h2{
  color: #3e4c65
}

.MoodsAbout img{
  width: 75%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.473), 0px 0px 50px rgba(0, 0, 0, 0.37);
   border-radius: 50%; 
   align-self: center;
   margin: 3vh 0vw 3vh 12.5%;
}


.Twitter{
  width: 80%;
  margin: 2vh 0vw 2vh 10vw
}

 .SocialMedia2{
  background-color: #3e4c65;
    color: white

}



.SocialMedia2 {
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-around;
  margin: 5% 0% 5% 10%;
}

.SocialMedia2 .fa {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  margin-left: 5%;
  background: transparent;
  color: white;
  padding: 1vw;
  justify-content: center;
  border: 0.3vh solid #f2958c;
  box-shadow: 0rem 0rem 0.5rem #131313; 
}

.SocialMedia2 .fa:hover {
  background-color: white;
  transition: 0.3s;
  color: #3e4c65;
transform: scale(1.1);
}

.SocialMedia2 .fa-twitter,
.SocialMedia2 .fa-linkedin,
.SocialMedia2 .fa-instagram {
  background: transparent;
  color: white;
  padding: 1vw;
  justify-content: center;
  border: 0.3vh solid #ffffff;
}



.MoodAbout{
  background-color: #f2958c;
  color: white;

}
.MoodAbout h1{
  color: #3e4c65;
}

.StressedAbout, .AnxiousAbout, .AngryAbout{
  background-color: #3e4c65;
  color: white;
}


.SadAbout, .HappyAbout{
  color: black;

}
.MoodAbout div, .StressedAbout div, .AnxiousAbout div, .SadAbout div, .AngryAbout div, .HappyAbout div{
  margin: 3vh 0vw;
}

.StressedAbout img, .AnxiousAbout img, .SadAbout img, .AngryAbout img{
  width: 70%;
  margin-left: 15%;
}

.HappyAbout img{
width: 80%;
margin-left: 10%;
border-radius: 10%;
border: 0.5vh solid #3e4c65;

}
.MoodFace{
  width: 60%;
  margin-left: 20%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.473), 0px 0px 50px rgba(0, 0, 0, 0.37);
   border-radius: 50%; 
   align-self: center; 
}


/*  Weather */
.WeatherAbout img{
  width: 80%;
  margin: 2vh 0vw 2vh 10vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.473), 0px 0px 5px rgba(0, 0, 0, 0.37);
}

.SurveyTop img{
  border-radius: 2%;
}
  /* Tablet Screen size */
@media screen and (min-width: 650px){



    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        align-items: center;
        color: white;
        background-color: rgb(32, 32, 32);
        padding: 1.5vh 7vw;
        min-height: 10vh;

      }
    .nav-links{
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        margin-left: auto    
    }
    
    .nav-links a{
        color: white;
        text-decoration: none;
  
    
    }

    .Menu{
        display: none;
    }
    
    
    section {
      padding: 5vh 7vw;
    }


  #Title h1{
    font-size: 2rem;
  }

  .nav-links li {
    padding: 0vh 3vw;
  }


  .nav-links a:hover {
    color: #f2958c;
    transition: 0.3s;

  }


  h1 {
    font-size: 1.7rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  p {
    font-size: 1.3rem;
    padding-bottom: 2%;
  }


  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    color: white;
    background-color: #3e4c65;
    padding: 1.5vh 7vw;
    min-height: 10vh;

  }
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin-left: auto    
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 500;

}

.DropButton a:hover{
  color: white;
  
}
.Menu{
    display: none;
}



.Dropdown_Menu {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: #3e4c65;
  z-index: 1;
  margin-left: 2vw;

  
}

.dropdown-list a {
  color: black;
  padding: 0.2vh 2vw 0vh 1vw;
  text-decoration: none;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 2.5vw;
  justify-content: start;
}

.dropdown-list a:hover {
  color: #f2958c;}

.Dropdown_Menu:hover .dropdown-list {
  display: block;}





  .Welcome{
    padding-top: 12vh;

    
}


.TopSection{
  padding-top: 12vh;

  
}
.HoverContainer{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;


  
}





.SlideshowContainer{
  display: none;
}
.Faces{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  perspective:1000px;
  padding: 5vh 0vw;
  flex-wrap: wrap;
}



.HoverBackground{
  height: auto;
  width: 100%;
  border-radius: 3rem;
  padding: 0;
  transform-style: preserve-3d;

  
  
}

.Title{
  transition: all 0.5s ease-out;
  
}

.FaceShadow img{
  width: 100%;
  height: auto;
  object-fit: fit;
  z-index: 2;
  transition: all 0.5s ease-out;
  border-radius: 50%;

  
}

.FaceShadow{
  width: 95%;
  height: 100%;
  position: relative;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.377), 0px 0px 50px rgba(0,0,0,0.2);
   border-radius: 50%;
   z-index: 1;;
   transition: all 0.5s ease-out;
   display: flex; 
}

.MoodTitle{
  text-align: center;
  color: #3e4c65
}


.FaceShadow img:hover{
box-shadow: 0 20px 20px rgb(255, 254, 254), 0px 0px 50px rgb(214, 214, 214);
 transition: all 0.5s ease-out;
}


.MoodsSocials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "SocialsText TwitterFeed";
  align-items: center;
}

.Twitter{
  width: 60%;
  margin-left: 10%
}

.MoodsAbout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "AboutText AboutText"
  "AnxiousText AnxiousPicture"
  "StressedPicture StressedText"
  "HappyText HappyPicture"
  "SadPicture SadText"
  "AngryText AngryPicture";
  align-items: center;
}

.MoodsAbout div{
  margin-bottom: 3vh;
}

.Right img{
  width: 80%;
  margin-left:20%

}

.Left img{
  width: 80%;
  margin-left: 0%

}



/* MoodE Emotion Pages */
.MoodAbout{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "MoodText MoodFace";
align-items: center;

}

.MoodAbout img{
  width: 80%;
  margin-left: 10%;
}
.StressedAbout, .SadAbout, .AnxiousAbout, .AngryAbout, .HappyAbout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "StatsImage Stats"
  "HowToDeal HowToDeal";
  align-items: center;
}


.SadAbout img, .AnxiousAbout img, .AngryAbout img, .HappyAbout img{
  width: 90%;
  margin-left: 0%;
  align-content: center;
}



.StressedAbout img{
  width: 100%;
  margin-left: 0%;
  align-content: center;
}



.SurveyTop{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "SurveyText SurveyImage";
  align-items: center;
}

.SurveyTop img{
  width: 98%;
  margin-left: 2%;
}


}




/* Laptop Screen size */
@media screen and (min-width: 1000px) {

    #Title h1{
      font-size: 2.5rem;
    }
  
    h1 {
      font-size: 2em;
      font-weight: 600;
    }
  
    h2 {
      font-size: 1.7em;
      font-weight: 600;
    }
  
    p {
      font-size: 1.4em;
    }
  
    .nav-links li {
      padding: 0vh 3vw;
      font-size: 1.4rem;
    }
    section {
      padding: 5vh 10vw;
    }


    .Welcome h1{
      font-size: 2.5rem;
      padding-bottom: 2vh
    }
    
    .Welcome h2{
      font-size: 2rem;
      padding-bottom: 2vh
    }
  
    .Welcome p{
      font-size: 1.6rem;
      padding-bottom: 2vh
    }

  


.nav-links li a,.dropdown-list a{
  font-size: 1.9rem;
}




.MoodsAbout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: "AboutText AboutText AboutText"
  "AnxiousText AnxiousText AnxiousPicture"
  "StressedPicture StressedText StressedText"
  "HappyText HappyText HappyPicture"
  "SadPicture SadText SadText"
  "AngryText AngryText AngryPicture";
}

.Right img{
  width: 80%;
  margin-left:20%

}

.Left img{
  width: 80%;
  margin-left: 0%

}

/*  Weather */
.WeatherAbout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas: "WeatherText1 WeatherText1"
  "WeatherText2 WeatherImage";
}

.WeatherAbout img{
  width: 90%;
  margin: 0 0 0 5%;;
}

.MoodsSocials{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas: "SocialsText SocialsText TwitterFeed";
}

.Twitter{
  width: 90%;
  margin-left: 5%;
}
  }
  
  
  
  @media screen and (min-width: 1200px) {
    .nav-links li a, .dropdown-list a{
      font-size: 1.8rem;
      font-weight: 500;
    }

    .HoverContainer{
      width: 19%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5%;
    
  
      
  }


  
/* MoodE Emotion Pages */
.MoodAbout{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "MoodText MoodText MoodFace";
  
  }
  
  .MoodAbout img{
    width: 70%;
    margin-left: 15%;
  }
  .StressedAbout, .SadAbout, .AnxiousAbout, .AngryAbout, .HappyAbout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "StatsImage Stats Stats"
    "HowToDeal HowToDeal HowToDeal";
    align-items: center;
  }

  .StressedAbout{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-areas: "StatsImage Stats Stats"
    "HowToDeal HowToDeal HowToDeal";
    align-items: center;
  }
  
  .MoodAbout div, .StressedAbout div, .AnxiousAbout div, .SadAbout div, .AngryAbout div, .HappyAbout div{
    margin: 6vh 0vw;
  }

  
  .StressedAbout img, .AnxiousAbout img, .SadAbout img, .AngryAbout img{
    width: 90%;
    margin-left: 0%;
    align-content: center;
  }


  
  .SurveyTop img{
    width: 85%;
    margin-left: 15%;
  }

  }
  
  
  
  
  
  /* Desktop Screen size */
  @media screen and (min-width: 1650px) {
    section {
      padding: 8vh 13vw;
    }

    .Welcome{
      padding: 14vh 10vw;
    }
  
    nav {
      padding: 0vh 10vw;
    }
    #Title h1{
      font-size: 3rem;
    }
  
    h1 {
      font-size: 2.2em;
      font-weight: 600;
    }
  
    h2 {
      font-size: 1.9em;
      font-weight: 600;
    }
  
    p {
      font-size: 1.5em;
    }

    .nav-links li a, .dropdown-list a{
      font-size: 2rem;
      font-weight: 500;
    }

    .Welcome h1{
      font-size: 2.8rem;
      padding-bottom: 2vh
    }
    
    .Welcome h2{
      font-size: 2.3rem;
      padding-bottom: 2vh
    }
  
    .Welcome p{
      font-size: 1.8rem;
      padding-bottom: 2vh
    }


    .SurveyTop{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "SurveyText SurveyText SurveyImage";

    }
    
    .SurveyTop img{
      width: 95%;
      margin-left: 5%;
    }
  }